.bill_container{
    @apply py-5 flex flex-row items-center justify-center sm:justify-between
}
.continue{
    @apply  flex-row items-center hidden sm:flex
}
.arrow {
   @apply flex flex-row items-center
}
  
.line {
    margin-left: -6px;
    height: 2px;
    @apply bg-gray-300 w-4
}
.point{
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    @apply border-gray-300
}
.continue span{
    color:#3b7bd9;
    @apply ml-1 font-bold text-sm
}
.totoal{
    @apply flex flex-row items-center justify-center
}
.totoal span:nth-child(1){
    @apply text-gray-300 font-bold
}
.totoal span:nth-child(2){
    @apply font-black text-xl ml-1
}