@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	src:url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	src:url('./assets/fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src:url('./assets/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	src:url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src:url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 800;
	src:url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	src:url('./assets/fonts/Roboto-Black.ttf') format('truetype');
}
body {
  font-family: Roboto;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: hsl(0deg 0% 96%)
}
.row{
	width: 1336px;
	@apply  mx-auto p-8  h-full md:w-full lg:w-10/12 
}

@media only screen and (max-width: 1080px) {
	.row {
	  width: 98% !important ;
	}
}

@media only screen and (min-width: 1436px) {
	.row {
	  width: 1110px !important ;
	}
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
    display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
